<h1>Welcome to LRNR!</h1>



<h3>Search</h3>
<form asp-action="WikiSearch">
    <p>Select Wikipedia or Sister Project</p>
    <input type="radio" name="subwiki" value="wikipedia" checked /><p>Wikipedia</p>
    <input type="radio" name="subwiki" value="wikibooks" /><p>Wikibooks</p>
    <input type="radio" name="subwiki" value="wikinews"  /><p>Wikinews</p>
    <input type="text" name="query" required />
    <input class="btn-outline-primary" type="submit" />
</form>





