@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="contentContainer">
    <div class="spinner"></div>
    <h1 class="processingMessage">Processing...</h1>
    <h2 class="processingMessage">Longer articles will take a while</h2>
</div>

<div id="player">
    <audio controls style="width:500px">
        <source src="@ViewBag.fileURL" type="audio/mp3">
    </audio>
</div>

<script>
    let player = document.querySelector('audio');
    let playerContainer = document.querySelector('#player');
    let spinner = document.querySelector('.spinner');
    let message = document.querySelector('.container h1');
    let message2 = document.querySelector('.container h2');
    let interval;

    console.log(`Buffered: ${player.buffered.length}`);

    if (player.buffered.length < 1) {
        playerContainer.style.display = 'none';
        interval = setInterval(retryAudio, 1000);
    }
    else {
        hideProcessingMessage();
    }

    function hideProcessingMessage() {
        spinner.classList.add('hidden');
        message.classList.add('hidden');
        message2.classList.add('hidden');
    }

    function retryAudio() {
        player.load();

        setTimeout(function () {

            console.log(`Buffered2: ${player.buffered.length}`);

            if (player.buffered.length >= 1) {
                playerContainer.style.display = 'block';
                hideProcessingMessage();
                clearInterval(interval);
            }

        }, 100);
    }
</script>