@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    List<string> related = new List<string>();
}
@model List<Categorymember[]>

@foreach (Categorymember[] c in Model)
{

    foreach (Categorymember cm in c)
    {
        <form asp-action="WikiParse" asp-route-subwiki="wikipedia" asp-route-title="@cm.title">
            <input class="btn-outline-primary" type="submit" value="@cm.title" />
        </form>
    }
}