@model List<string>

<h4>@ViewBag.Title</h4>
<hr />
@foreach (String s in Model)
{
    if (s.StartsWith("Chapter:"))
    {
        <h4>@s</h4>
        <hr />
    }
    else if (s.StartsWith("Section: "))
    { 
        <h5>@s</h5>
    }
    else
    {
        <p>@s</p>
    }
}